
#acton-gateway-nav-wrap {
  background: #666666;
  clear: both;
}
.acton #gw-nav {
  text-transform: none;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  background : #666666;
  height: auto;
}
#acton-gateway-navigation-container {
  margin-left: 2%;
  margin-right: 2%;
}
.acton #gw-nav ul.menu {
  margin-top: 4px;
  display: block;
}
.acton #gw-nav ul.menu li a {
  height: 1.35em;
}
.acton #gw-nav ul.menu li a:hover {
  color: #4C6E78;
  background: #D6E0E3;
}
.acton #gw-nav ul.menu li a.active,
.acton #gw-nav ul.menu li a.active-trail {
  background: #ffffff;
  font-weight: bold;
  color: #4C6E78;
}